<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inital-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <title>乐餐吧后台———餐馆管理</title>

    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>

    <!--[if lt IE 9]>
    <script src="/bower_components/respond/dest/respond.min.js"></script>
    <script src="/bower_components/html5shiv/dist/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body style="font-size: 12px">

<div class="container">
    <div class="row" style="margin-top: 5px">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">

        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div id="container" class="panel panel-default">
                <div class="panel-heading text-center">
                    <div class="h1" style="display: inline-block">餐馆管理</div>
                </div>

                <% if (restaurants && restaurants.length > 0) { %>
                <div style="padding: 10px; border-bottom: 1px solid gainsboro">
                    餐馆列表：
                </div>
                <div style="min-height: 300px; max-height: 400px; overflow-y: auto">
                    <table class="table table-responsive table-striped table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>名称</th>
                            <th>手机号码</th>
                        </tr>
                        </thead>
                        <% for (var i = 0; i < restaurants.length; i++) { %>
                        <% var item = restaurants[i] %>
                        <tbody>
                        <tr>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <%= i %>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a href="/admin/restaurant/<%= item.id %>/dishes">菜单</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="/admin/restaurant/<%= item.id %>/show">详情</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="/admin/restaurant/<%= item.id %>/edit">编辑</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li id="delete_<%= item.id %>" style="padding-left: 20px">删除</li>
                                    </ul>
                                </div>
                            </td>
                            <td><%= item.name %></td>
                            <td><%= item.phoneNumber %></td>
                        </tr>
                        </tbody>
                        <% } %>
                    </table>
                </div>
                <% } else { %>
                <div class="h2 text-center" style="height: 300px; padding-top: 130px">
                    无餐馆
                </div>
                <% } %>

                <div class="text-center" style="margin-top: 20px; margin-bottom: 20px">
                    <button id="deleteAllBtn" type="button" class="btn btn-success" style="width: 40%">删除全部</button>
                    <a href="/admin/restaurant/add" class="btn btn-success" style="width: 40%">添加餐馆</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">

        </div>
    </div>
</div>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/layer/build/layer.js"></script>
<script src="/js/main.js"></script>
<script>
    $(document).ready(function () {
        var restaurants = '<%- JSON.stringify(restaurants) %>';
        restaurants = JSON.parse(restaurants);

        for (var i = 0; i < restaurants.length; i++) {
            var item = restaurants[i];
            handleDelete(item);
        }
    });

    function handleDelete(item) {
        $('#delete_' + item.id).click(function () {
            asyncPost('/admin/restaurant/' + item.id + '/delete', null, function (response) { //请求成功时处理
                var errMsg = '删除失败';
                if (response) {
                    if (response.code == 0) {
                        showAlert('删除成功', function () {
                            location.reload();
                        });
                        return;
                    }

                    if (response.message) {
                        errMsg = response.message;
                    }
                }

                showAlert(errMsg);
            });
        });
        $('#deleteAllBtn').click(function () {
            asyncPost('/admin/restaurant/delete/all', null, function (response) { //请求成功时处理
                var errMsg = '删除失败';
                if (response) {
                    if (response.code == 0) {
                        showAlert('删除成功', function () {
                            location.reload();
                        });
                        return;
                    }

                    if (response.message) {
                        errMsg = response.message;
                    }
                }

                showAlert(errMsg);
            });
        });
    }
</script>
</body>
</html>