<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inital-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <title>晚上加班点餐系统———美食列表</title>

    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/browserChecker.js"></script>

    <!--[if lt IE 9]>
    <script src="/javascripts/modernizr.js"></script>
    <![endif]-->
</head>
<body style="font-size: 12px">

<div class="container">

    <div class="row" style="margin-top: 5px">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">

        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <div class="h1" style="display: inline-block">乐餐吧</div>
                    <a href="/mine">
                        <img src="/images/user_default_icon.png" class="img-circle pull-right"
                             style="width: 40px; margin-top: 10px"/>
                    </a>
                </div>

                <div class="common_item" style="margin-left: 15px">
                    <img src="<%= restaurant.icon %>" class="img-rounded img-responsive common_item_left">
                    <div class="common_item_right">
                        <div class="common_item_right_title">
                            <%= restaurant.name %>
                        </div>
                        <div class="common_item_right_summary">
                            <%= restaurant.phoneNumber %>
                        </div>
                    </div>
                </div>

                <% if (dishes) { %>
                <div style="position: relative; max-height: 500px">
                    <div class="clearfix">
                        <ul class="list-group" style="width: 70px; float: left">
                            <% var classfies = restaurant.classifies.split('|'); %>
                            <% for (var i = 0; i < classfies.length; i++ ) { %>
                            <% var classfy = classfies[i] %>
                            <li class="list-group-item" style="border-radius: 0px; border-left: 0px">
                                <a href="#<%= i %>">
                                    <div style="font-size: 13px">
                                        <%= classfy %>
                                    </div>
                                </a>
                            </li>
                            <% } %>
                        </ul>
                        <div style="margin-left: 70px">
                            <% var classfies = restaurant.classifies.split('|'); %>
                            <% for (var i = 0; i < classfies.length; i++ ) { %>
                            <% var classfy = classfies[i] %>
                            <ul class="list-group" id="<%= i %>">
                                <% if (i == 0) { %>
                                <li class="list-group-item"
                                    style="border-radius: 0px; border-left: 0px; border-right: 0px">
                                    <% } else { %>
                                <li class="list-group-item hidden"
                                    style="border-radius: 0px; border-left: 0px; border-right: 0px">
                                    <% } %>
                                    <% dishes[classfy].forEach(function(dish) { %>
                                    <div class="common_item" style="display: block; margin-right: 0px">
                                        <img src="<%= dish.icon %>" class="img-responsive img-rounded common_item_left">
                                        <div class="common_item_right">
                                            <div class="common_item_right_title" style="font-size: 13px">
                                                <%= dish.name %>
                                            </div>
                                            <div class="common_item_right_summary" style="font-size: 13px">
                                                价格：<%= dish.price %>元
                                            </div>
                                        </div>
                                        <div class="pull-right">
                                            <form class="form-inline">
                                                <div class="input-group">
                                                    <a href="" id="decrease<%= i %>" class="input-group-addon">-</a>
                                                    <input id="count<%= i %>" type="text"
                                                           class="form-control text-center" value="0"
                                                           style="width: 20px; padding: 0px">
                                                    <a href="" id="increase<%= i %>" class="input-group-addon">+</a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <% }); %>
                                </li>
                            </ul>
                            <% } %>
                        </div>
                    </div>
                    <div style="background-color:orangered; width:100%; position:absolute; left: 0px; bottom: -40px; padding: 10px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px">
                        <span>总价：</span><span style="font-size: 28px">28</span><span>元</span>
                            <span class="pull-right" style="display: block">
                                <span style="font-size: 10px">不要超过28元哟！</span>
                                <a class="btn btn-success" id="commitBtn">选好了</a>
                            </span>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">

        </div>
    </div>
</div>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/javascripts/layer/layer.js"></script>
<script>
    $(document).ready(function () {


        $('#commitBtn').click(function () {
            var cc = [{dishes_id: 1, dishes_count: 2}];
            $.ajax({
                url: '/order',                //请求的url地址，这是相对于现在的位置的地址
                dataType: 'json',             //返回格式为json
                async: true,                  //请求是否异步，默认为异步，这也是ajax重要特性
                data: {orders: JSON.stringify(cc)},   //参数值
                type: 'POST',                 //请求方式
                beforeSend: function () {     //请求前的处理

                },
                success: function (response) {      //请求成功时处理
                    var errMsg = '创建订单失败';

                    if (response) {
                        if (response.code == 0) {
                            location.href = '/order/success';
                            return;
                        }

                        if (response.message) {
                            errMsg = response.message;
                        }
                    }

                    layer.alert(errMsg, {
                        skin: 'layui-layer-molv',  //样式类名
                        closeBtn: 0,
                        shift: 2 //动画类型
                    });
                },
                error: function () {          //请求出错处理
                    layer.alert('请求失败，请重试！', {
                        skin: 'layui-layer-molv',  //样式类名
                        closeBtn: 0,
                        shift: 2 //动画类型
                    });
                },
                complete: function () {       //请求完成的处理

                }
            });
        });
    });
</script>

</body>
</html>