<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inital-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <title>晚上加班点餐系统———美食列表</title>

    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/browserChecker.js"></script>

    <!--[if lt IE 9]>
    <script src="/javascripts/modernizr.js"></script>
    <![endif]-->
</head>
<body style="font-size: 12px">

<div class="container">
    <div class="row" style="margin-top: 5px">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">

        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <div class="h1" style="display: inline-block">乐餐吧</div>
                    <a href="/mine">
                        <img src="/images/user_default_icon.png" class="img-circle pull-right"
                             style="width: 40px; margin-top: 10px"/>
                    </a>
                </div>

                <div class="common_item" style="margin-left: 15px;">
                    <img src="<%= restaurant.icon %>" class="img-rounded img-responsive common_item_left">
                    <div class="common_item_right">
                        <div class="common_item_right_title">
                            <%= restaurant.name %>
                        </div>
                        <div class="common_item_right_summary">
                            <%= restaurant.phoneNumber %>
                        </div>
                    </div>
                </div>

                <hr style="margin: 0px">

                <% if (dishes) { %>
                    <div style="position: relative; max-height: 500px">
                        <div class="clearfix">
                            <ul class="list-group" style="width: 70px; height: 100%; float: left">
                                <% var classfies = restaurant.classifies.split('|'); %>
                                <% for (var i = 0; i < classfies.length; i++ ) { %>
                                <% var classfy = classfies[i] %>
                                <li id="classfy<%= i %>" class="list-group-item"
                                    style="border-radius: 0px; border-left: 0px; font-size: 13px">
                                    <%= classfy %>
                                </li>
                                <% } %>
                            </ul>

                            <div style="margin-left: 70px">
                                <% var classfies = restaurant.classifies.split('|'); %>
                                <% for (var i = 0; i < classfies.length; i++) { %>
                                   <ul class="list-group" id="dishes_list<%= i %>" style="max-height: 500px; overflow-y: auto">
                                    <% for (var j = 0; j < dishes[i].length; j++) { %>
                                        <% var dish = dishes[i][j] %>
                                        <li class="list-group-item" style="border-radius: 0px; border-left: 0px; border-right: 0px">
                                            <div class="common_item" style="display: block; margin-right: 0px">
                                                <img src="<%= dish.icon %>" class="img-responsive img-rounded common_item_left">
                                                <div class="common_item_right">
                                                    <div class="common_item_right_title" style="font-size: 13px">
                                                        <%= dish.name %>
                                                    </div>
                                                    <div class="common_item_right_summary" style="font-size: 13px">
                                                        价格：<%= dish.price %>元
                                                    </div>
                                                </div>
                                                <div class="pull-right" style="height: 50px; padding-top: 12.5px; padding-bottom: 12.55px">
                                                    <img id="decrease_<%= i %>_<%= j %>" src="/images/decrease.png" class="img-responsive img-rounded"
                                                         style="width: 30px; height: 30px; display: inline-block">
                                                    <span id="count_<%= i %>_<%= j %>" style="width: 10px; height: 30px; display: inline-block; line-height:30px; vertical-align: middle"
                                                          class="text-center">0</span>
                                                    <img id="increase_<%= i %>_<%= j %>" src="/images/increase.png" class="img-responsive img-rounded"
                                                         style="width: 30px; height: 30px; display: inline-block">
                                                </div>
                                            </div>
                                        </li>
                                        <% } %>
                                    </ul>
                                <% } %>
                            </div>
                        </div>

                        <div style="background-color:orangered; width:100%; position:absolute; left: 0px; bottom: -40px; padding: 10px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px">
                            <span>总价：</span><span id="totalPrice" style="font-size: 28px">0</span><span>元</span>
                            <span class="pull-right" style="display: block">
                                <span style="font-size: 10px">不要超过28元哟！</span>
                                <a class="btn btn-success" id="commitBtn">选好了</a>
                            </span>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">

        </div>
    </div>
</div>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/javascripts/layer/layer.js"></script>
<script>
    $(document).ready(function () {
        var lastSelectedClassfyIndex = 0;
        var currentSelectedClassfyIndex = 0;

        var restaurant = '<%- JSON.stringify(restaurant) %>';
        restaurant = JSON.parse(restaurant);

        var dishes = '<%- JSON.stringify(dishes) %>';
        dishes = JSON.parse(dishes);

        var classfies = restaurant.classifies.split('|');
        for (var i = 0; i < classfies.length; i++) {
            (function(i) {
                if (i == 0) {
                    $('#classfy' + i).css('background-color', 'green');
                }

                if (i > 0) {
                    $('#dishes_list' + i).hide();
                }

                //注册分类的点击事件
                $('#classfy' + i).click(function() {
                    lastSelectedClassfyIndex = currentSelectedClassfyIndex;
                    currentSelectedClassfyIndex = i;

                    $('#classfy' + lastSelectedClassfyIndex).css('background-color', 'transparent');
                    $('#classfy' + currentSelectedClassfyIndex).css('background-color', 'green');

                    $('#dishes_list' + lastSelectedClassfyIndex).hide();
                    $('#dishes_list' + currentSelectedClassfyIndex).show();
                });

                //注册加减按钮的点击事件
                for (var j = 0; j < dishes[i].length; j++) {
                    (function(j) {
                        dishes[i][j]['count'] = 0;

                        $('#decrease_' + i + '_' + j).click(function() {
                            if (dishes[i][j]['count'] > 0) {
                                dishes[i][j]['count'] -= 1;
                                $('#count_' + i + '_' + j).html(dishes[i][j]['count']);
                                var totalPrice = getTotalPrice();
                                $('#totalPrice').html(totalPrice);
                            }
                        });
                        $('#increase_' + i + '_' + j).click(function() {
                            var totalPrice = getTotalPrice();
                            var newTotalPrice = totalPrice + dishes[i][j].price;
                            if (newTotalPrice > 28) {
                                layer.alert('总金额不能超过28元', {
                                    skin: 'layui-layer-molv',  //样式类名
                                    closeBtn: 0,
                                    shift: 2 //动画类型
                                });
                            } else {
                                dishes[i][j]['count'] += 1;
                                $('#count_' + i + '_' + j).html(dishes[i][j]['count']);
                                $('#totalPrice').html(newTotalPrice);
                            }
                        });
                    })(j);
                }
            })(i);
        }

        //获取当前总金额
        function getTotalPrice() {
            var totalPrice = 0;
            for (var i = 0; i < dishes.length; i++) {
                for (var j = 0; j < dishes[i].length; j++) {
                    if (dishes[i][j].price) {
                        totalPrice += dishes[i][j].price * dishes[i][j].count;
                    }
                }
            }
            return totalPrice;
        }

        $('#commitBtn').click(function () {
            var orders = [];

            for (var i = 0; i < dishes.length; i++) {
                for (var j = 0; j < dishes[i].length; j++) {
                    if (dishes[i][j].count > 0) {
                        var obj = {dishes_id: dishes[i][j].id, dishes_count: dishes[i][j].count};
                        orders.push(obj);
                    }
                }
            }

            console.log(JSON.stringify(orders));

            if (orders.length == 0) {
                layer.alert('请至少选择一个菜', {
                    skin: 'layui-layer-molv',  //样式类名
                    closeBtn: 0,
                    shift: 2 //动画类型
                });
            }

            $.ajax({
                url: '/order',                //请求的url地址，这是相对于现在的位置的地址
                dataType: 'json',             //返回格式为json
                async: true,                  //请求是否异步，默认为异步，这也是ajax重要特性
                data: {orders: JSON.stringify(orders)},   //参数值
                type: 'POST',                 //请求方式
                beforeSend: function () {     //请求前的处理

                },
                success: function (response) {      //请求成功时处理
                    var errMsg = '创建订单失败';

                    if (response) {
                        if (response.code == 0) {
                            location.href = '/order/success';
                            return;
                        }

                        if (response.message) {
                            errMsg = response.message;
                        }
                    }

                    layer.alert(errMsg, {
                        skin: 'layui-layer-molv',  //样式类名
                        closeBtn: 0,
                        shift: 2 //动画类型
                    });
                },
                error: function () {          //请求出错处理
                    layer.alert('请求失败，请重试！', {
                        skin: 'layui-layer-molv',  //样式类名
                        closeBtn: 0,
                        shift: 2 //动画类型
                    });
                },
                complete: function () {       //请求完成的处理

                }
            });
        });
    });
</script>

</body>
</html>